<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="auto_redirect_toproduct" translate="label" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Auto Redirect To Product</label>
            <tab>general</tab>

            <resource>Magento_Config::config</resource>
            <group id="activation"  showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1">
                <field id="key" translate="label comment" type="obscure" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" >
                    <label>Activation Key</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="enable" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Activer le module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>LumiDev\AutoRedirectToProduct\Block\Adminhtml\Config\EnableDisable</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>


